/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is “Incompatible With Secondary Licenses”, as
 * defined by the Mozilla Public License, v. 2.0.
 */

.systemMessage {
  display: flex;
  font-size: 16px;
  justify-content: center;
  margin: 60px 30px;
  text-align: center;
}

@media (min-width: 30em) {
  .systemMessage {
    font-size: 18px;
  }
}
